<!DOCTYPE html>
<html lang = "pt - br">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width" initial-scale = 1.0>
        <meta http-equiv = "X-UA-Compatible" content = "ie = edge">
        <title>Login</title>
        <link rel="stylesheet" href = "fontawesome/css/all.min.css">
        <link rel="stylesheet" href = "style/css/StyleCss.css">

    </head>

    <body>
         <div class = "container">
            <div class = "content first-content" >
               
                <div class="primeira-coluna">
                    <h2 class = "title title-primary"> você voltou! </h2>
                    <p class="description description-primary">obrigado pelo carinho</p>
                    <p class="description description-primary">faça seu login para voltar à sua procura profissional</p>
                    <button id="signin" class="btn btn-primary">entrar</button>
                </div>

                <div class="segunda-coluna">
                    <h2 class = "title title-secondary"> criar conta </h2>
                        <p class="description description-secondary">crie seu regindo conosco!</p>
                       
                        <form action = "cadastrarUsuario" class = "form" method = "post">
                       
                              <label class = "label-input" for = "">
                                    <input type = "text" placeholder="Nome"  name="nomeCompleto">
                              </label>
                              <label class = "label-input" for = "" >
                                    <input class = "testando" type = "email" placeholder="Email"  name="email">                            
                              </label>
                              <label class = "label-input" for = "">
                                    <input type = "password" placeholder="Senha"  name="senha">
                              </label>
                              <label class = "label-input" for = "">
                                    <input type = "date" placeholder="data"  name="dataNascimento">
                              </label>
   
                                    <button class = "btn btn-secondary" type = "submit">criar conta</button>
                        </form>
                   
                </div><!-- fim segunda coluna -->

            </div> <!-- fim primeira pagina -->

            <div class = "content second-content" >
               
                <div class="primeira-coluna">
                    <h2 class = "title title-primary"> seja bem vindo! </h2>
                    <p class="description description-primary">insira seus dados pessoais</p>
                    <p class="description description-primary">e inicie sua jornada conosco</p>
                    <button id="signup" class="btn btn-primary">criar conta</button>
                </div>
               
                <div class="segunda-coluna">
                    <h2 class = "title title-secondary">entrar na sua conta FindMe</h2>
                    <p class="description description-secondary">entrando na sua conta!</p>
                    <form class = "form">
                       
                              <label class = "label-input" for = "" >
                                    <i class="fa-regular fa-envelope icon-modify"></i>
                                    <input type = "email" placeholder="Email"  name="email">                            
                              </label>
                              <label class = "label-input" for = "">
                                    <i class="fa-regular fa-envelope icon-modify"></i>
                                    <input type = "password" placeholder="Senha"  name="senha">
                              </label>
                       
                       <!--  <a href="#">esqueceu sua senha?</a> <!-- esqueceu sua senha - adicionar link ou pagina -->
                       
                        <button class = "btn btn-secondary">entrar</button>
                    </form>
               
                </div><!-- fim segunda coluna -->
        </div> <!-- fim primeira pagina -->
           

         </div>
         <script  type="text/javascript" src="style/js/login.js"></script>
    </body>



</html>