<!DOCTYPE html>
<html xmlns:th = "http://thymleaf.org" 
	  xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
		<form  method = "post">
		 	Nome<input type = "text" th:value = "${usuario.nomeCompleto}" name = "nomeCompleto">
			<div class = "row"></div>
			Email<input type = "text" th:value = "${usuario.email}" name = "email">
			<div class = "row"></div>
			Senha<input type = "text" th:value = "${usuario.senha}" name = "senha">
			<div class = "row"></div>
			Data Nascimento<input type = "date" th:value = "${usuario.dataNascimento}" name = "dataNascimento">
			<div class = "row"></div>
			<button type = "submit">editar</button>
		</form>

</body>
</html>