
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Publicar Post</title>
</head>
<body>

		<form method = "post">
		
			Titulo<input type = "text" value = "" name = "titulo">
			<div class = "row"></div>
			Conteudo<input type = "text" value = "" name = "conteudo">
			<div class = "row"></div>
			Categorias<div th:each = "categoria, itemStat : ${categorias}">
						<label th:for = "${categoria.nomeCategoria}">
							<input th:type = "checkbox" th:text = "${categoria.nomeCategoria}" th:value = "${categoria.idCategoria}" th:name = "idCategorias">
						</label>
						</div>
			<button type = "submit">Publicar</button>
		</form>

</body>
</html>