@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    border: 2xp solid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}
.content{
    background-color: #fff; 
    border-radius: 15px;
    width: 960px;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: darksalmon;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
    
    left: 0%; 
}

.title{
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-secondary{
	color: darksalmon;
}

.description {
	font-size: 14px;
	font-weight: 300;
	color : #fff;
	line-height: 30px;
}

.description-primary {
	color: #FFF;	
}

.description-secondary {
	color: #7f8c8d;
}

.btn{
	border-radius : 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
	padding: 10px 50px;
	cursor:pointer;
	font-weight: bold;
	width: 180px;
	align-self: center;
	margin: 5px;
	border: none;
	margin-top: 0.5rem;
}

.btn-primary{
	background-color: transparent;
	border: 1px solid #fff;
}
.btn-primary:hover{
	background-color: #fff;
	color: darksalmon;
	transition: background-color .5s;
}
.btn-secondary{
	background-color: darksalmon;
	border: 1px solid darksalmon;
	transition: background-color .5s;
}

.btn-secondary:hover{
	background-color: #fff;
	border: 1px solid darksalmon;
	color: darksalmon;
}
.first-content {
    display: flex;
}

.first-content .segunda-coluna {
    z-index: 11;
}

.primeira-coluna {
    text-align: center;
    width: 40%;
    z-index: 10;
    
}

.segunda-coluna {
	width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
	height: 40px;
	border: none;
	background-color: #ecf0f1;
	width: 100%;
}
.label-input {
	background-color: #ecf0f1; 
	display: flex;
	align-items: center;
	margin: 2px;
}

.testando{
	align-items: center;
	padding: 2px;
}

.icon-modify{
	padding:0 5px;
	color: #7f8c8d;
}

/*SEGUNDA PARTE*/
.second-content {
    position: absolute;
    display: flex;
}

.second-content .primeira-coluna {
	order: 2;
	z-index: -1;
}

.second-content .segunda-coluna {
	order: 1;
	z-index: -1;
}

.sign-in-js .first-content .primeira-coluna{
	z-index: -1;
}

.sign-in-js .second-content .segunda-coluna {
	z-index: 11;
}

.sign-in-js .second-content .primeira-coluna{
	z-index: 13;
}

.sign-in-js .content::before{
	left: 60%;
	border-top-right-radius: 15px; /*borda redondinha*/
	border-bottom-right-radius: 15px;
	
	border-top-left-radius: 0px; /*quadradinha (borda)*/
	border-bottom-left-radius: 0px;
	
	animation: slidein 1s;
	z-index: 12;
}

.sign-up-js .content::before{
	animation: slideout 1s;
	z-index: 12;
}

.sign-up-js .second-content .primeira-coluna,
.sign-up-js .second-content .segunda-coluna {
	z-index: -1;
}

.sign-up-js .first-content .segunda-coluna {
	z-index: 11;
}

.sign-up-js .first-content .primeira-coluna{/*sign up*/
	z-index: 13;
}

/*deslocamento*/
.sign-in-js .first-content .segunda-coluna {
	z-index: -1;
	position: relative;
	animation: deslocamentoE .5s;
}

.sign-up-js .second-content .segunda-coluna {
	z-index: -1;
	position: relative;
	animation: deslocamentoD .5s;
}

/*animacao do conteudo da telinha (atras da tela rosa)*/

@keyframes deslocamentoE {
	from{
		left: 0;
		opacity: .3; 
		z-index:12;
	}

	to{
		left: -240px;
		opacity: 0;
		z-index:-1;
	}
}

@keyframes deslocamentoD {
	from{
		left: 0;
		opacity: .9; 
		z-index:12;
	}
	
	
	25%{
		left: 80px;
		opacity: .2;
		z-index:12;
	}
	
	50%{
		left: 100px;
		opacity: 0;
		z-index:12;
	}
	
	
	to{
		left: 110px;
		opacity: 0;
		z-index:-1;
		}
}

/*animacao ao trocar de telinha passa tela rosa*/

@keyframes slidein {
	
	from {
		left: 0;
		width: 40%;
	}

	to{
		left: 60%;
		width: 40%;
	}
}


@keyframes slideout {
	
	from {
		left: 60%;
		width: 40%;
	}

	
	to{
		left: 0;
		width: 40%;
	}
}